---
const { project } = Astro.props;
---

<div
  class={`project-card text-white p-4 rounded-3xl flex flex-col bg-neutral-900-soft gap-4 h-[460px] w-full sm:w-80 animate-fadeIn border-2 border-white/10  hover:scale-[1.01] transition-all duration-300 ease-in-out`}
  data-aos="focus-up"
  style={`background-color: ${project.color};`}
>
  <div class="relative flex justify-center items-center h-64 rounded-[0px]">
    <img
      src={project.img}
      alt={project.name}
      class="w-full h-full object-cover rounded-[0px]"
      data-aos="focus-up"
    />
    <img
      src={project.icon}
      alt=""
      class="absolute -bottom-3 w-16 h-16"
      data-aos="focus-up"
    />
  </div>
  <div class="flex flex-col justify-between h-full">
    <div class="flex flex-col gap-1 items-center">
      <h3
        class="text-3xl text-white font-nixel tracking-[1px]"
        data-aos="focus-up"
      >
        {project.name}
      </h3>
      <p
        class="text-sm text-white text-center line-clamp-3"
        data-aos="focus-up"
      >
        {project.description}
      </p>
    </div>

    <div class="flex gap-3 items-center">
      <a
        href={project.url}
        target="_blank"
        rel="noopener noreferrer"
        class="relative z-10 overflow-hidden group"
      >
        <button
          class="w-fit font-nixel tracking-[1px] text-white bg-black sm:px-3 px-3 py-2 border border-white/10 transition-all duration-300 ease-in-out cursor-pointer text-xl flex justify-center items-center gap-2 relative rounded-full"
          data-aos="focus-up"
          aria-label="View Project"
          style="word-spacing: -7px;"
        >
          <span class="relative z-10">view project</span>
        </button>
      </a>

      <a
        href={project.github || project.url}
        target="_blank"
        rel="noopener noreferrer"
        class="relative z-10 overflow-hidden group"
      >
        <button
          class="w-fit font-nixel tracking-[1px] text-black bg-white sm:px-3 px-3 py-2 border border-black/10 transition-all duration-300 ease-in-out cursor-pointer text-xl flex justify-center items-center gap-2 relative rounded-full"
          data-aos="focus-up"
          style="word-spacing: -7px;"
          aria-label="View Project"
        >
          <span class="relative z-10">live demo</span>
        </button>
      </a>
    </div>
  </div>
</div>
